"*":
  "atom-ide-ui":
    "atom-ide-console":
      fontScale: 1
    use:
      "atom-ide-diagnostics": "never"
      "atom-ide-diagnostics-ui": "never"
  "atom-material-ui":
    colors:
      abaseColor: "#5c8dff"
  "autocomplete-plus":
    confirmCompletion: "tab"
    enableAutoActivation: false
    enableAutoConfirmSingleSuggestion: false
    enableBuiltinProvider: false
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
    includeCompletionsFromAllBuffers: false
    minimumWordLength: 5
    suggestionListFollows: "Cursor"
  core:
    audioBeep: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    warnOnLargeFileLimit: 25
  editor:
    defaultFontSize: 20
    fontFamily: "Courier"
    fontSize: 20
    softWrap: true
    softWrapHangingIndent: 2
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "4892082f-91cc-4a9c-842e-7ecb4ea7a9f6"
  "ide-python":
    pylsPlugins:
      flake8:
        enabled: true
        ignore: [
          "E121"
          "E123"
          "E126"
          "E127"
          "E226"
          "E24"
          "E704"
          "E722"
          "W503"
          "W504"
          "E402"
          "E265"
          "E501"
        ]
        maxLineLength: 120
      jedi_hover:
        enabled: false
      mccabe:
        enabled: false
      pycodestyle:
        hangClosing: true
        ignore: [
          "E121"
          "E123"
          "E126"
          "E127"
          "E226"
          "E24"
          "E704"
          "E722"
          "W503"
          "W504"
          "E402"
          "E265"
          "E501"
        ]
        maxLineLength: 120
      pylint:
        enabled: true
      pyls_mypy:
        enabled: false
        live_mode: false
    python: "$PIPENV_PATH/bin/python"
  "linter-shellcheck":
    enableNotice: true
    userParameters: "--check-sourced --external-sources --color=always --shell=bash -e SC2086,SC2046,SC1091"
  "linter-ui-default":
    panelHeight: 185
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    fontSize: 14
  welcome:
    showOnStartup: false
